###
# This file is only here to make sure that something like
#
#    pip install -e .
#
# works as expected. Requirements can be found in setup.py.
###

.

setuptools
OctoPrint
numpy>=1.16.0,<=1.19.2
Flask
