###
# This file is only here to make sure that something like
#
#    pip install -e .
#
# works as expected. Requirements can be found in setup.py.
###

.

setuptools~=42.0.2
OctoPrint>=1.2.0
numpy>=1.16.0
Flask~=1.1.2